.venv
dci-ci-jenkins-slave
dci-control-server
dci-infra
dci-packaging
dci-ansible
dci-specs
dci-feeder-osp
dci-rhel-agent
dci-openstack-agent
dci-feeder-api
dci-downloader
python-dciclient
python-dciauth
dci-ui
dci-doc
