[project]
	description = Dci Developement environment
[access "refs/*"]
  read = group dci-dev-env-core
  owner = group dci-dev-env-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-dev-env-core
	label-Code-Review = -2..+2 group dci-dev-env-ptl
	label-Verified = -2..+2 group dci-dev-env-core
	label-Verified = -2..+2 group dci-dev-env-ptl
	label-Workflow = -1..+1 group dci-dev-env-core
	label-Workflow = -1..+1 group dci-dev-env-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group dci-dev-env-core
	submit = group dci-dev-env-ptl
	read = group Registered Users
    read = group dci-dev-env-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group dci-dev-env-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
